<h1> Ask a question ✌️</h1>
<h2> cmon ! go ahead, don't be shy</h2>
<form action="answer">
  <input type="text" name="question" value=" <%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
